<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ElderCare.ElderCareFD">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.ElderCare.ElderCareFD.LoginActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ElderCare.ElderCareFD.VerifyPhoneActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ElderCare.ElderCareFD.OtpActivity" />
        <activity android:name="com.ElderCare.ElderCareFD.RegistrationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ElderCare.ElderCareFD.About2" />
        <activity android:name="com.ElderCare.ElderCareFD.About1" />
        <activity android:name="com.ElderCare.ElderCareFD.Orders" />
        <activity android:name="com.ElderCare.ElderCareFD.Profile"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ElderCare.ElderCareFD.FinalSummary" />
        <activity android:name="com.ElderCare.ElderCareFD.SelectAddress" />
        <activity android:name="com.ElderCare.ElderCareFD.OrderSummary" />
        <activity android:name="com.ElderCare.ElderCareFD.SelectPersons" />
        <activity android:name="com.ElderCare.ElderCareFD.PreorderDates" />
        <activity android:name="com.ElderCare.ElderCareFD.Menu" />
        <activity android:name="com.ElderCare.ElderCareFD.WelcomeActivity"
            android:theme="@style/AppTheme.Welcome"/>
        <activity android:name="com.ElderCare.ElderCareFD.MainButtons" />
        <activity
            android:name="com.ElderCare.ElderCareFD.MainActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>